
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >

    <testsuites>
        <testsuite name="Teste">
            <directory>./teste/</directory>
        </testsuite>
    </testsuites>

</phpunit>




<phpunit  backupGlobals = "false" 
         backupStaticAttributes = "false" 
         colors = "true" 
         convertErrorsToExceptions = "true" 
         convertNoticesToExceptions = "true" 
         convertWarningsToExceptions = "true" 
         processIsolation = "false" 
         syntaxCheck = "false" 
         bootstrap = "bootstrap.php" 
        > 
    <testsuites> 
        <testsuite  name = "First Testes " > 
            <directory> ./teste/ </ directory> 
        </ testsuite> 
    </ TestSuites>

    <filter> 
        <whitelist> 
            <directory> ./app/ </ directory> 
        </ whitelist> 
    </ filter> 
</ phpunit>

